.form-row-event {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}
  
input[name="eventField"]  {
    margin-left: 15px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: left;
    padding-left: 5px;
    width: calc(100% - 200px);
    height: 26px;   
    border-width: 1px;
    border: 1px solid lightgray;
    border-radius: 5px;
}




  