button {
    background-color: #5da7e4;
    color: var(--tg-theme-text-color);
}

.add{
    position:absolute;
    bottom:10px;
    right:10px;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border-width: 1px;
    border-color: black;
    background-color:ghostwhite;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.createEvent{
    margin-top: 5px;
    position: absolute;
    right: 10px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid var(--tg-theme-text-color);
    text-align: center;
    cursor: pointer;
}


.createEvent:hover:enabled {
    background-color: #4c96d7;
}

.createEvent:active:enabled {
    background-color: #cccccc;
}

.createEvent:disabled{
    background-color: #d3d3d3;
    cursor: not-allowed;
}



.add:active{
    scale: 1.003;
}

.plus{
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    bottom:10px;
    right:10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.plus img{
    width: 30px;
    height: 30px;
}

.left{
    margin-left: 30px;   
}

.right{
    margin-right: 30px;
}

.arrow{
    margin-top: 5px;
    flex-shrink: 0;
    -webkit-tap-highlight-color: transparent;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.arrow img{
    width: 30px;
    height: 30px;
}

.date {
    margin-left: 10px;
    margin-top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
  
.date img {
    width: 30px;
    height: 30px;
}

.edit{
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 3px;
    right: 70px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.edit img{
    width: 25px;
    height: 25px;
}

.delete{
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 3px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.delete img{
    width: 25px;
    height: 25px;
}

.deleteTodo{
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.deleteTodo img{
    width: 25px;
    height: 25px;
}

.save{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--tg-theme-text-color);
}

.save:hover {
    background-color: #4c96d7;
}

.goTo {
    margin-left: 10px;
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}  

.alertButton{
    position: absolute;
    bottom: 10px;
    width: 25%;
    height: 25%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: var(--tg-theme-bg-color);
    border: 1px solid var(--tg-theme-text-color);
    font-weight: bold;
}

.alertButton:hover {
    background-color: #4c96d7;
}